$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

$card-bg: #fff;

$default-font-size: 15px;
