*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $very-light-grayish-blue;
}

body::before {
  content: "";
  background: url("../images/bg-top.svg") no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body::after {
  content: "";
  background: url("../images/bg-bottom.svg") no-repeat;
  background-position: bottom left;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
